<div class="container">
    <div class="index-header">
        <h1>Shops</h1>
            <%= link_to "Create a new store", new_shop_path, class: 'btn-submit-small' %>
    </div>
    <table class="margin-dotted-table">
        <% @shops.each do |shop| %>
            <h5><strong><%= shop.name %></strong></h5>
            <% shop.business_opening_hours.each do |hour| %>
                <p><%= "#{hour.day}: #{hour.opening_time.strftime('%H:%M')}-#{hour.break_starting_time.strftime('%H:%M')}, #{hour.break_finishing_time.strftime('%H:%M')}-#{hour.closing_time.strftime('%H:%M')}" %></p>
            <% end %>  
        <% end %>
    </table>
</div>